body {
    margin: 0;
}

div {
    background-image: -ms-linear-gradient(top, #FF7F00 0%, #FF9833 100%); /* IE10 Consumer Preview */ 
    background-image: -moz-linear-gradient(top, #FF7F00 0%, #FF9833 100%); /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(top, #FF7F00 0%, #FF9833 100%); /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF7F00), color-stop(1, #FF9833)); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, #FF7F00 0%, #FF9833 100%); /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, #FF7F00 0%, #FF9833 100%); /* W3C Markup, IE10 Release Preview */
    position: absolute;
    height: 100%;
    width: 100%;
    margin:0;
}

img {
    margin-top: 20vh;
    margin-left: 20vw;
    height: 60vh;
    width: 60vw;
}
