/* @override http://danieltull.co.uk/css/style.css */

body {
    background: #F5F3ED;
    font-family: Helvetica, sans-serif;
    color: #454545;
}

.page {
    padding-top: 30px;
    padding-bottom: 30px;
}

blockquote,
pre,
.sidebar .section {
    background: #fff;
    border: solid 1px #E8E5DA;
    -webkit-border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

blockquote {
	padding: 0px 20px;
}

.archive li {
	list-style: none;
	margin-top: 8px;
}

.gist-file {
    border: solid 1px #E8E5DA !important;
    -webkit-border-radius: 5px !important;
    padding: 10px !important;
    background: #fff !important;
}

.gist-data {
	background: #fff !important;
	border: none !important;
}

.gist-meta {
    font-family: Helvetica, sans-serif !important;
	background: #EAE2D1 !important;
    margin: 0px -15px !important;
    border: solid 1px #CEC8B9 !important;
    margin-top: 10px !important;
    color: #666 !important;
    padding: 8px !important;
}

.gist-meta a {
    color: #F25F2F !important;
}

.sidebar ul {
	padding: 0;	
}

.sidebar .section h3 {
    background: #EAE2D1;
    border: solid 1px #CEC8B9;
    text-align:center;
    margin: 0px -15px;
    padding: 8px;
    
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar ul li {
	line-height: 1.3em;
    font-size: 0.75em;
    text-align:left;
    margin-top: 8px;
    list-style: none;
}

.sidebar ul li.more {
    text-align: right;
}

.header ul li {
    display: inline;
}

.sidebar h3 {
    font-size:2em;
    text-align:center;
}

.sidebar .section h3,
a {
    text-decoration: none;
    color: #777;
}

.sidebar a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

a:hover {
    text-decoration: underline;
}

#disqus_thread,
.main-text {
    color: #666;
    padding: 20px;
}

.main-content h1 {
    font-size: 3.5em;
}

.main-content h2 {
    font-weight: normal;
}

.header,
.footer {
    font-size: 0.75em;
    color: #a6a6a6;
}

.header {
    text-align: right;
}

.footer {
    text-align: center;
}

.header p,
.footer p {
    margin-top: 1em;
    line-height: 1em;
}
.main-text a,
.highlight {
    color: #F25F2F;
}

pre {
    font-family: "Menlo", Courier, mono !important;
    font-size: 0.7em;
    margin: 0px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6, 
.post p,
.post pre {
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p,
pre {
    margin-top: 1em;
    line-height: 1.4em;
}

h1 {
    margin-top: 0;
}

.post h5 {
	margin-top: 2em;
}

.post h5.postdate {
	margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: rgba(255,255,255,0.8) 1px 1px 0px;
    font-family: 'Museo500', san-serif;
}

.sidebar h3 {
    margin: 0;
}

.post p {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.6em;
}

.post h1 {
    color: #5b5850;
    font-size: 2em;
}

.post h2 {
    color: #4b4840;
    font-size: 1.2em;
}

.post h3 {
    color: #3b3830;
    font-size: 1em;
}

.service {
    display: inline-block;
}

.blogdate {
    float: left;
}

.blogtitle {
    margin-left:10px;
}

span.amp, .highlight {
    font-size: 1.2em;
	font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
	font-style:italic;
    font-weight: normal;
}

.paypalbutton {
	text-align:center;	
}