@import 'font.css';

html {
    background: #F8F8F8;
	color: #000;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #FF7F00;
}
a:hover {
	text-decoration: underline;
}

#logo {
	width: 100%;
	max-width: 300pt;
	max-height: 150pt;
}

/** CUSTOM BULLETS */

.main ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main ul.list li {
	padding-left: 1em;
	text-indent: -0.7em;
}

.main ul.list li:before {
	content: "\002022  ";
	color: #FF7F00;
}

/** HEADER */

div.header {
	text-align: center;
	padding: 20pt;
	border-bottom: 1px solid #FF7F00;
}

div.header h1 {
	margin: 20pt 0 0 0;
}

.double {
	font-size: 2em;
}

div.header h2 {
	margin: 0 0 20pt 0;
}

/** DOWNLOAD LINK */

.download p {
	margin: 0;
	font-style: none;
}
a.download {
	color: #333;
}
.download img {
	margin: 0;
}

/** MAIN */

div.page {
	background: #FFF;
}

div.main  {
	max-width: 500px;
	margin: auto;
}

div.main h1 {
	text-align: center;
	color: #000;
	margin: 10pt 0;
}

div.main h2 {
	text-align: center;
	color: #333;
	margin: 10pt 0;
}

div.main p, div.main li {
	margin: 10pt 0;
	line-height: 1.4em;
}

div.main .image {
	text-align: center;
}
div.main .image img.feature {
	width: 60pt;
	margin: 2pt;
}

div.main div.section {
    padding: 15px;
    overflow: auto;
}

/** FOOTER */

div.footer p {
	border-top: 1pt solid #FF7F00;
	text-align: center;
	padding: 10pt 0pt;
	margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	div.header, div.footer p {
		border-width: 0.5pt;
	}
}

@media (-webkit-min-device-pixel-ratio: 3) {
	div.header, div.footer p {
		border-width: 1/3pt;
	}
}
